#header {}

#wrap {
  display: flex;
}
#wrap #nav {
  flex: 20%;
}
#wrap #nav p {
  cursor: pointer;
  margin: 0;
  padding: 10px 0 10px;
}
#wrap #chart {
  flex: 80%;
}
#wrap #chart svg {
  width: 49%;
  height: 50%;
  border: 1px solid;
}
#wrap #chart rect {
  fill: steelblue;
}
#footer {
  text-align: right;
}