#header {}

#wrap {
  display: flex;
}
#wrap #nav {
  flex: 20%;
}
#wrap #nav p {
  cursor: pointer;
  margin: 0;
  padding: 10px 0 10px;
}
#wrap #chart {
  flex: 80%;
}
#footer {
  text-align: right;
}